@import "config";

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: var(--clr-logo-2);
  background: rgb(248, 248, 248);
}

a {
  @include link;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--clr-white);

  &__top {
    height: max-content;
    overflow: hidden;
    transition: all 0.4s linear;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__email,
  &__phone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.6rem;

    span {
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--clr-heading);

      &:hover {
        color: var(--clr-logo-1);
      }
      &:active {
        transform: scale(.95);
      }
    }
  }

  &-icon {
    color: var(--clr-logo-1);
  }

  &__menu {
    background: var(--clr-logo-1);
    margin-top: 1.6rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    width: 150px;
    height: auto;
    transition: all 0.4s linear;

    &:hover {
      cursor: pointer;
    }
  }

  &__ham,
  &__close {
    font-size: 30px;
    color: var(--clr-white);

    &:hover {
      cursor: pointer;
      color: var(--clr-heading);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__nav-container {
    padding: 1.6rem 0;
  }

  &__nav {
    position: absolute;
    background: var(--clr-white);
    width: calc(100% - 3.2rem);
    height: 0;
    overflow: hidden;
    transition: all 0.4s linear;

    p {
      padding: 1.2rem 1.6rem;
      transition: all 0.3s linear;
      font-size: 1.4rem;

      &:hover {
        cursor: pointer;
        background: var(--clr-logo-2);
        padding-left: 2.8rem;

        a {
          color: var(--clr-white);
        }
      }
    }
  }
}

.main {
  position: relative;
  padding: 3.2rem 1.6rem;
  background: var(--clr-white);
  max-width: 1440px;
  margin: 0 auto;

  &__info {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 2.4rem;
    width: calc(100% - 3.2rem);
    color: var(--clr-white);
  }

  &__image {
    display: block;
    opacity: 0.8;
    height: 400px;
    object-fit: cover;
    animation: slider 0.5s ease-out forwards;
    position: relative;
    left: -150%;
  }

  &__arrows {
    width: 110px;
    height: 55px;
    background: var(--clr-heading);
    display: flex;
    position: absolute;
    bottom: 3.2rem;
    right: 1.6rem;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: none;
    background: transparent;

    &:hover {
      cursor: pointer;
      background: var(--clr-logo-2);

      svg path {
        stroke-width: 3px;
        stroke: var(--clr-logo-1);
      }
    }
  }
}

.machines {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--clr-white);
  &__title {
    width: 100%;
    height: 350px;
    background: url(../images/machines/milling-icon.png),
      linear-gradient(0deg, rgba(0, 114, 206, 1) 0%, rgba(167, 168, 169, 1) 100%);
    background-repeat: no-repeat;
    background-size: 300px 300px, 100% 100%;
    background-position: center bottom;
    opacity: 0.8;
    padding: 1.6rem;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3.2rem 1.6rem;
    padding: 3.2rem 1.6rem;
  }

  &__card {
    box-shadow: 0px 0px 3px var(--clr-logo-2);
    border-radius: 0.8rem;
    max-width: 350px;
    font-size: 1.4rem;

    img {
      width: 100%;
      display: block;
      border-radius: 0.8rem 0.8rem 0 0;
    }
  }

  &__image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    padding: 3rem;
    border-bottom: 2px solid var(--clr-logo-1);
  }

  &__info {
    padding: 1.6rem;
    h3 {
      margin-bottom: 1.6rem;
    }
    p {
      margin: 0.3rem 0;
    }
  }
}

.ref {
  background: var(--clr-white);

  &__title {
    width: 100%;
    height: 350px;
    background: url(../images/ref/references.png),
      linear-gradient(0deg, rgba(0, 114, 206, 1) 0%, rgba(167, 168, 169, 1) 100%);
    background-repeat: no-repeat;
    background-size: 250px 250px, 100% 100%;
    background-position: center bottom;
    opacity: 0.8;
    padding: 1.6rem;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 3.2rem 1.6rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 1px solid var(--clr-logo-2);
    border-radius: 0.5rem;
  }

  img {
    display: block;
    width: 100%;
  }
}

.contact {
  background: var(--clr-white);

  &__title {
    width: 100%;
    height: 350px;
    background: url(../images/contact/pngkit_icon-png-images_785862.png),
      linear-gradient(0deg, rgba(0, 114, 206, 1) 0%, rgba(167, 168, 169, 1) 100%);
    background-repeat: no-repeat;
    background-size: 300px 250px, 100% 100%;
    background-position: center bottom;
    opacity: 0.8;
    padding: 1.6rem;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3.2rem 1.6rem;
    max-width: 700px;
    margin: auto;
    gap: 3.2rem;
  }

  &__address,
  &__email,
  &__phone {
    border-radius: 0.8rem;
    width: 200px;
    height: 120px;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
    transition: all 0.4s ease;

    address,
    span {
      font-weight: 400;
      color: var(--clr-heading);
      text-align: center;
    }

    &:hover {
      background: var(--clr-logo-1);

      .contact-icon,
      address,
      span {
        transition: all 0.4s ease;
        color: var(--clr-white);
      }
    }
  }

  &-icon {
    font-size: 2.4rem;
    color: var(--clr-logo-1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 700px;
    margin: auto;
    padding: 3.2rem 1.6rem;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    input {
      padding: 1.4rem 1.4rem 1.4rem 4rem;
      border: 1px solid var(--clr-logo-2);
      border-radius: 0.6rem;
    }

    .contact-icon {
      font-size: 2rem;
      position: absolute;
      top: 3.5rem;
      left: 1rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;

    textarea {
      width: 100%;
      height: 200px;
      resize: none;
      padding: 1.4rem;
      border: 1px solid var(--clr-logo-2);
      border-radius: 0.6rem;

      &:active {
        outline: 2px solid var(--clr-logo-1);
      }
    }
  }

  &__button {
    width: 100%;
    padding: 1.4rem;
    border: none;
    border-radius: 0.6rem;
    background: var(--clr-logo-2);
    color: var(--clr-heading);
    font-size: 2rem;
    font-weight: 700;

    &:hover {
      color: var(--clr-white);
      background: var(--clr-logo-1);
      transition: all 0.4s linear;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.footer {
  background: var(--clr-heading);
  border-radius: 0 7.5rem 0 0;
  padding: 3.2rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1440px;
    margin: auto;
  }

  &__logo-wrapper {
    max-width: 1440px;
    margin: auto;
  }

  &__logo {
    width: 100px;
    height: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: var(--clr-white);
      text-align: center;
      display: inline-block;
      padding: 0.8rem 1.2rem;
      border-radius: 0.6rem;

      &:hover {
        background: var(--clr-logo-1);
        transform: scale(1.2);
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 2.4rem;

    a {
      transition: all 0.4s ease;
      color: var(--clr-white);

      &:hover {
        transform: rotateX(20deg);
        color: var(--clr-logo-1);
      }
    }
  }

  &__copy {
    color: var(--clr-logo-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
  }

  &__logo2 {
    width: 50px;
    height: auto;
  }
}

.active {
  color: var(--clr-logo-1);
}

@keyframes slider {
  to {
    left: 0;
  }
}

@import "responsive";
